{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}
{% block connexion_path %}{{ path('app_login') }}{% endblock %}
{% block connexion %}Connexion{% endblock %}

{% block content %}
  <img class="backgroundimg" src="/img/website/background.jpg" alt="background">
  <main class="content">
      <h1 class="content-title">Catégories</h1>
      <ul class="content-list">
        {% for category in categories %}
          <li class="button"><a href="category/{{ category.id }}">{{ category.name | capitalize }}</a></li>
        {% endfor %}
      </ul>
      <a href="category">Voir les autres -></a>

      <h1 class="content-title">Football</h1>
      <div class="grid">
        {% for article in articles %}
          {% for category in article.categories %}
            {% if category.name == 'football'%}
              <a href="article/{{ article.id }}"><div class="article">
                <img class="article-img" src="/img/articles/{{ article.files[0].path }}" alt="{{ article.name }}">
                <p class="article-name">{{ article.name }}</p>
                <p class="article-price"><b>{{ article.price }}€</b></p>
              </div></a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>

      <h1 class="content-title">Natation</h1>
      <div class="grid">
        {% for article in articles %}
          {% for category in article.categories %}
            {% if category.name == 'natation'%}
              <a href="article/{{ article.id }}"><div class="article">
                <img class="article-img" src="/img/articles/{{ article.files[0].path }}" alt="{{ article.name }}">
                <p class="article-name">{{ article.name }}</p>
                <p class="article-price"><b>{{ article.price }}€</b></p>
              </div></a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>

      <h1 class="content-title">Marques</h1>
      <ul class="content-list">
        {% for brand in brands %}
          <li class="button"><a href="brand/{{ brand.id }}"><img class="button-img" src="/img/brands/{{ brand.files[0].path }}" alt="{{ brand.name }}"></a></li>
        {% endfor %}
      </ul>
      <a href="brand">Voir les autres -></a>
  </main>
{% endblock %}